.head{
    color: rgb(62, 181, 62);
    font-size: 25px;
    width: 100%;
}
#title{
    margin-bottom: 20px;
}
body{
    font-family: sans-serif;
}
h3{
    color: rgb(62, 181, 62);
    font-size: 12px;
}
.picture{
    width: 100px;
}
.photo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.divider{
    margin-top: 60px;
   width:98%;
}
h2{
    color: rgb(62, 181, 62);
    margin-top: 30px;
    font-size: 20px;
    margin-left: 5%;
    margin-bottom: 6px;
}
.grey{
    margin: auto;
    display: block;
    width:90%;
}

.option{
    font-size: 17px;
    margin-left: 5%;
    margin-top: 9px;
}
.input{
    font-size: 17px;
    text-align: center;
}
.icon{
    display: flex;
    margin-top: 20px;
    margin-left: 15%;
    align-items: flex-start;
}
.phone{
    width: 60px;
}
.number{
    padding-top: 7px;
    margin-left: 5%;
}
.apple{
padding-top: 150px;
color: gray;
font-size: 14px;
}
.team{
    padding-top: 50px;
    margin-left: 17%;
}
.section2{
    margin: 0;
}
.address{
    color: gray;
    font-size: 13px;
    margin-top: 25px;
}
h4{
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 14px;
}
.section3{
    margin: 0;
}
.scan{
    color:gray;
    font-size: 13px;
}
.text{
    color:rgb(62, 181, 62);
    font-family: verdana,sans-serif;
}
a{
    color:rgb(62, 181, 62);
}
.main{
    margin:auto;
    width:100%;
   max-width: 600px;
}

.line{
    margin-top: 15px;
    margin-left: 4%;
}
.app{
    padding-top: 45px;
    font-size: 17px;
}
.appstore{
    width: 110px;
    padding-right: 1px;
}
.playstore{
    width: 110px;
    padding-left: 1px;
}
.click{
    text-align: center;
}
.last{
    text-align: center;
}
.end{
    text-align: center;
}
.green{
    color:rgb(62, 181, 62);
    font-family: 'Secular One', sans-serif;
    font-size: 20px;
}
.service{
    font-family: 'Patua One', cursive;
    color:rgb(62, 181, 62);
    font-size: 21px;
}
.image{
    width:100%;
}
